html, body {  font-size: 18px; }

body {
    background: transparent;
}

.top-bar {
  margin-bottom: 2em;
  background-color: #fbeeca !important;
}

.top-bar-section ul li > a {
  color: #676454;
}

.top-bar section a {background-color:#fbeeca !important; }
.top-bar section a:hover {background-color:#ae1b1f !important; }

h1 {
    margin:2em;
    font-weight: 400;
    font-size: 40px;
    text-align:center;
}

h3 {
    font-weight: 400;
    font-size: 30px;
}


/* Override B3 .panel adding a subtly transparent background */
.panel {
    background-color: rgba(255, 255, 255, 0.9);
}

.margin-base-vertical {
    margin: 40px 0;
}



.contact {padding:2em; font-size:1.5em;text-align:left;}
#team .caption{font-size: 1.5em}
#navbar li{text-align:right;list-style-type:none;padding-right:0.8em;display:inline}
#navbar ul{margin:0;padding:0;font-size:0.9em;}
#footer{text-align: center}
#logo{width:400px;
      margin-left: auto;
      margin-right: auto;
     }
.active{background:red}

.main-section {
  background-color:#fbeeca;
}
