<!DOCTYPE html>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Functional Kats Conference</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="css/foundation.css" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="js/vendor/modernizr.js"></script>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.magellan.js"></script>

    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
{{ content }}
<script>
  $(document).foundation();
</script>
</body>
</html>
