---
layout: base
---
<div class="row">
  <div class="large-10 medium-10 small-10 small-centered columns">

    <div class="row">

      <div data-magellan-expedition="fixed">
        <dl class="sub-nav">
          <dd data-magellan-arrival="speakers"><a href="#speakers">Speakers</a></dd>
          <dd data-magellan-arrival="schedule"><a href="#schedule">Schedule</a></dd>
          <dd data-magellan-arrival="sponsors"><a href="#sponsors">Sponsors</a></dd>
          <dd data-magellan-arrival="logistics"><a href="#logistics">Logistics</a></dd>
          <dd data-magellan-arrival="team"><a href="#team">Team</a></dd>
          <dd data-magellan-arrival="contact"><a href="#contact">Contact</a></dd>
        </dl>
      </div>

    </div>
    <div class="row">
      <div class="small-centered small-8 large-6 large-centred medium-6 medium-centred columns">
        <img src="images/logo.png" id="logo"/>
      </div>
    </div>
    <div class="row">
        {{ content }}
    </div>

    <hr/>
    <div id="footer">
      <a href="http://confcodeofconduct.com/">Code of Conduct</a> |
      <a href="">Another footer link</a>
    </div>
    <hr/>

  </div>
</div>
